{
  "settings": {
    "import/resolver": {
      "alias": [
        ["@components", "./src/components"],
        ["@styles", "./src/styles"]
      ]
    }
  },

  "parserOptions": {
    "ecmaVersion": 2017,
    "sourceType": "module"
  },

  "env": {
    "es6": true
  }
}
